@import "tailwindcss";

@theme {
  --color-bg-dark: #121417;
  --color-card-dark: #1A1D21;
  --color-border-dark: #2A2E35;
  --color-accent-orange: #FF5500;
  --color-accent-orange-hover: #E04B00;
}

body {
  margin: 0;
  background-color: var(--color-bg-dark);
  color: #F1F5F9;
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
  -webkit-font-smoothing: antialiased;
}
